<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Registro</h1>
    <div>
        <form action="/auth/register" method="POST">
            <div>
                <label for="email">E-mail</label>
                <input type="text" id="email">
            </div>
            <div>
                <label for="senha">Senha</label>
                <input type="text" id="senha">
            </div>
            <div>
                <input type="submit">
            </div>
            <a href="/">Voltar</a>
        </form>
    </div>
</body>

</html>